* {
    margin: 0;
    padding: 0;
    border: 0;
}

body, html, div#remote, table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

body, html {
    font: 10px Helvetica, Arial;
    overflow: hidden;
    text-align: center;
    height: 100%;
    background: url('../favicon.png') center center no-repeat #000;
}

div#remote {
    height: 100%;
}

table {
    transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
