body {
    background: #999;
}

table {
    border: 1px solid #0F0;
    border-right: 0;
    border-bottom: 0;
    background: #FFF;
}

td {
    border: 1px solid #0F0;
    border-top: 0;
    border-left: 0;
    background: url(hase.png) center center no-repeat;
}
