body {
    background: #666;
    color: #000;
}

table {
}

td {
}

.red {
    color: #F00;
}

.green {
    color: #090;
}

.blue {
    color: #00F;
}

.button {
    font-weight: bold;
}

#status {
    text-align: left;
    color: #666;
    text-indent: 10px;
    line-height: 2em;
    font-size: 16px;
}

#home {
    color: #000;
}

.button, .text {
    background: #DDD;
}

.html {
    color: #333;
    background: #FFF;
}
