<!doctype html>
<html>
    <head>
        <title>raumHOCH - reMOTE</title>
        <link rel="stylesheet" href="css/default.css" />
    </head>
    <body>
        <h1>Willkommen bei reMOTE!</h1>
        <ul>
            <li>
                <a href="/application.html">Demo App</a>
            </li>
            <li>
                <a href="/monitoring.html">Monitoring</a>
            </li>
            <li>
                <a href="/remote.html">reMOTE</a>
            </li>
            <li>
                <a href="/remote.html">reMOTE (10x10)</a>
            </li>
        </ul>
    </body>
</html>