<!doctype html>
<html>
    <head>
        <title>raumHOCH - reMOTE</title>
        <link rel="stylesheet" href="css/default.css" />
    </head>
    <body>
        <h1>Willkommen bei reMOTE!</h1>
        <ul>
            <li>
                <a href="/application.html">Demo App</a>
                <br />
                Sendet Textnachrichten an die Clients.
            </li>
            <li>
                <a href="/monitoring.html">Monitoring</a>
                <br />
                Überwacht den reMOTE Server (Mockup)
            </li>
            <li>
                <a href="/remote.html">reMOTE</a>
                <br />
                Einzelner Client.
            </li>
            <li>
                <a href="/remote-10x10.html">reMOTE (10x10)</a>
                <br />
                Matrix mit 100 Clients zum Testen.
            </li>
        </ul>
    </body>
</html>